@use "../abstracts";

.checkout-page {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    &__breadcrumbs {
        background: var(--checkout-breadcrumbs-bg);
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

// Cart info

.cart-info {
    border-radius: 20px;
    background: var(--checkout-cart-info-bg);
    box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);
    padding: 30px;

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        &--lv2 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;
        }
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__sub-heading {
        margin: 30px 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__list {
        margin-top: -30px;

        @include abstracts.screen(md) {
            margin-top: -16px;
        }
    }

    &__bottom {
        margin-top: 30px;
    }

    &__form {
        margin-bottom: 20px;
    }

    &__row,
    &__continue-link {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__continue {
        height: 100%;
        display: flex;
        align-items: flex-end;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-icon {
            rotate: 90deg;
            transition: translate 0.25s;
        }

        &-link:hover &-icon {
            translate: -5px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        &-block {
            display: flex;
            align-items: center;
            gap: 16px;

            @include abstracts.screen(md) {
                align-items: flex-start;
                flex-direction: column;
            }
        }

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }

        &-btn {
            font-size: 1.8rem;
            margin-top: 30px;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }
    }

    &__separate {
        margin: 30px 0;
        height: 1px;
        background: var(--checkout-border-color);
    }

    &__sub-label {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.8rem;
        line-height: 144.444%;
    }

    &__checkbox {
        &-input {
            appearance: none;
            &:not(:checked)::before {
                content: url("../icons/checkbox-uncheck.svg");
                filter: var(--icon-color);
            }
        }

        &-input:checked {
            &::before {
                content: url("../icons/checkbox-checked.svg");
            }
        }

        &--label {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
    &__check-all {
        margin: 30px 0;
    }
}
// End cart info
.cart-info + .cart-info {
    margin-top: 30px;
}

// Cart item
.cart-item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid var(--checkout-border-color);

    @include abstracts.screen(md) {
        padding: 16px 0;
        &:last-child {
            border: none;
            padding-bottom: 0;
        }
    }

    &__thumb {
        width: 172px;
        height: 172px;
        object-fit: contain;
        margin: 0 30px 0 20px;

        @include abstracts.screen(xxl) {
            width: 150px;
            height: 150px;
        }

        @include abstracts.screen(md) {
            width: 60px;
            height: 50px;
            margin: 0 16px 0 20px;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        align-self: start;

        @include abstracts.screen(md) {
            flex-direction: column;
        }

        %-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: auto;

            @include abstracts.screen(md) {
                margin-top: 16px;
                margin-left: 0;
            }
        }
    }

    &__title {
        display: block;
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__price-wrap {
        color: var(--checkout-price-wrap-color);
        margin: 16px 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__status {
        color: #67b044;
    }

    &__control-wrap {
        display: flex;
        align-items: center;
        gap: 30px;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__control {
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 44px;

        &--md-block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }

        @include abstracts.screen(md) {
            margin-left: 0;
        }

        @include abstracts.screen(sm) {
            gap: 16px;
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 10px;

            color: #9e9da8;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__input {
        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #b9babe;
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &-btn {
            display: flex;
        }
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        text-align: right;

        @include abstracts.screen(md) {
            text-align: left;
            font-size: 1.8rem;
            margin-bottom: 16px;
        }
    }

    &__checkout-btn {
        margin-top: auto;

        @include abstracts.screen(md) {
            max-width: 200px;
        }
    }

    &__checkout-all-btn {
        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}

// End Cart item

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__icon {
        @include abstracts.screen(md) {
            width: 44px;
            height: 44px;
        }
    }

    &__icon-wrap {
        padding: 10px;
        border-radius: 14px;
        background: rgb(118, 68, 225, 0.1);
        box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__desc {
        width: min(520px, 90%);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}

.user-address {
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include abstracts.screen(md) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__btn {
        @include abstracts.screen(md) {
            height: 46px;
        }
    }

    &__message {
        margin-top: 30px;
        font-weight: 500;
    }

    &__link {
        padding-left: 10px;
        color: #0071dc;
    }
}

.address-card {
    margin-top: 30px;
    display: flex;
    gap: 16px;

    @include abstracts.screen(md) {
        flex-direction: column;
    }

    &__left {
        flex: 1;
        display: flex;
        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__list {
        margin-top: 20px;
        display: flex;
        gap: 30px;
        list-style: disc inside;

        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 16px;
        }

        &-item {
            margin-left: 8px;
        }
    }

    &__control {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
}

.payment-item {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background: var(--checkout-payment-item-bg);

    &--pointer {
        cursor: pointer;
    }

    &__content {
        display: flex;
        align-self: center;
        flex: 1;
        gap: 10px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__info {
        flex: 1;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__detail {
        padding: 10px 0 10px 10px;
    }

    &__desc {
        margin-top: 4px;
    }

    &__desc,
    &__detail {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__detail {
        color: #77dae6;
        text-decoration: underline;
    }

    &__thumb {
        width: 70px;
        height: 54px;
        object-fit: cover;

        @include abstracts.screen(md) {
            align-self: flex-start;
        }
    }

    &__cost {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #9e9da8;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 14px;
    }
    &__checkbox-input:checked + &__cost {
        color: inherit;
    }
}
