@use "../abstracts";

.footer {
    &__inner {
        margin-top: 100px;
        padding: 50px 0;
        border-top: 1px solid #eee;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.2fr;

        @include abstracts.screen(xl) {
            grid-template-columns: 1.5fr 1.5fr 1fr;
        }

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    &__item {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-link {
            font-size: 1.6rem;
            font-weight: 400;
            transition: color 0.25s;

            &:hover {
                color: #77dae6;
            }
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 500;

        @include abstracts.screen(md) {
            font-size: 2rem;
        }
    }

    // Footer Connect
    &__connect {
        @include abstracts.screen(xl) {
            margin-top: 60px;
        }

        @include abstracts.screen(lg) {
            margin-top: 0;
        }

        &-heading {
            font-size: 3.6rem;
            font-weight: 700;

            @include abstracts.screen(md) {
                font-size: 2.4rem;
            }
        }

        &-link {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &-icon {
            transition: opacity 0.25s;
            &:hover {
                opacity: 0.8;
            }

            &-link {
                font-size: 2.2rem;
            }
        }

        &-desc {
            font-size: 1.6rem;
            margin-top: 20px;
            line-height: 1.4;
            padding-right: 35px;
        }
    }

    &__cta {
        margin-top: 30px;
    }
    // Footer End
    &__logo {
        margin-right: 30px;
    }

    &__end {
        margin-top: 50px;
        display: flex;
        align-items: center;

        @include abstracts.screen(md) {
            margin-left: 0;
            flex-direction: column;
            align-items: flex-start;
        }

        &-group {
            margin-top: 2px;
            display: flex;
            gap: 10px;

            @include abstracts.screen(md) {
                margin-top: 20px;
            }

            @include abstracts.screen(sm) {
                flex-direction: column;
            }

            & a {
                transition: color 0.25s;
                &:hover {
                    color: #77dae6;
                }
            }
        }

        &-desc {
            @include abstracts.screen(sm) {
                font-size: 1.4rem;
            }

            &--sepa {
                height: 100%;
                border-right: 1px solid #ccc;
                padding-right: 10px;

                @include abstracts.screen(sm) {
                    border-color: transparent;
                }
            }
        }
    }

    &__copyright {
        margin-top: 30px;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
        }
    }
}
