@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);
    padding: 30px 0;

    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemCenter;
    position: relative;
    z-index: 1;

    &__logo {
        @include abstracts.screen(lg) {
            gap: 10px !important;
            margin-left: 40px;

            &-img {
                width: 24px;
                height: 24px;
            }
        }

        @include abstracts.screen(md) {
            margin-left: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }

        &-title {
            @include abstracts.screen(lg) {
                font-size: 1.8rem !important;
            }
        }
    }

    @include abstracts.screen(lg) {
        padding: 20px 0;
    }

    @include abstracts.screen(md) {
        padding: 16px 0;
        justify-content: space-between;
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.screen(xl) {
        margin-left: 24px;
    }

    @include abstracts.screen(lg) {
        margin-left: 0;
        padding: 20px 0;
        border-radius: 0 20px 20px 0;
        background: var(--sidebar--bg);
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        translate: -100%;
        transition: 0.5s;
    }

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
    }

    &.show {
        translate: 0;
        box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
    }

    &.show ~ &__overlay {
        visibility: visible;
        opacity: 1;
    }

    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: 10px 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0 20px 10px;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            background: rgba($color: #000000, $alpha: 0.4);
        }
    }

    &__list {
        @extend %flexItemCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
        }

        @include abstracts.screen(md) {
            height: calc(100% - 140px);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            justify-content: space-between;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }
    }

    &__link {
        @extend %flexItemCenter;
        padding: 0 15px;
        height: 50px;
        gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(lg) {
            padding: 0 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            font-size: 1.6rem;
            line-height: 150%;
        }

        @include abstracts.screen(sm) {
            padding: 0 20px;
            height: 44px;
        }
    }

    &__arrow {
        margin-top: 5px;
        transition: rotate 0.3s;

        @include abstracts.screen(lg) {
            rotate: -90deg;
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }
}

.top-act {
    @extend %flexItemCenter;
    margin-left: auto;
    gap: 20px;

    @include abstracts.screen(md) {
        margin-left: 0;

        &__sign-up {
            height: 40px !important;
            padding: 0 8px !important;
            font-size: 1.5rem !important;
        }
    }

    &__group {
        @extend %flexItemCenter;

        min-width: 50px;
        height: 50px;
        padding: 13px 20px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: var(--top-act-group-shadow);
        &--single {
            padding: 13px;
        }
    }

    &__group--single {
        padding: 13px;

        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__btn-wrap {
        position: relative;

        &:hover .act-dropdown {
            display: block;
        }
    }

    &__btn {
        gap: 10px;
        padding: 13px 0;
        @extend %flexItemCenter;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__user {
        border-radius: 8px;
        width: 50px;
        height: 50px;
        position: relative;

        &:hover .act-dropdown {
            display: block;
        }
    }

    &__avatar {
        display: block;
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
    }

    &__separate {
        margin: 0 20px;
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__dropdown {
        right: -10px !important;
        width: min(300px, 100vw) !important;

        &-arrow {
            right: 15px !important;
        }
    }
}

.nav-btn {
    height: 50px;
    padding: 0 40px;
    align-items: center;

    @include abstracts.screen(sm) {
        height: 44px;
        padding: 0 20px;
    }

    &__title,
    &__qtt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4667;
    }

    &__title {
        margin-left: 16px;
    }

    &__qtt {
        margin-left: auto;
    }
}

// Action dropdown
.act-dropdown {
    display: none;
    position: absolute;
    right: -76px;
    top: 50px;
    padding-top: 22px;
    width: min(580px, 100vw);

    &__inner {
        position: relative;
        padding: 20px;
        border-radius: 20px;
        background: var(--header-act-dropdown-bg);
        box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
    }

    &__arrow {
        position: absolute;
        top: -12px;
        right: 90px;
        width: 40px;

        filter: var(--dropdown-arrow-color);
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__view-all {
        color: var(--header-act-dropdown-viewall);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 145.455%;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__bottom {
        margin: 20px 0;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        border-width: 1px 0;
        border-color: var(--header-act-dropdown-boder-color);
        border-style: solid;
    }

    &__separate {
        height: 1px;
        background: var(--header-act-dropdown-boder-color);
        margin: 20px 0;
    }

    &__label,
    &__value {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 145.455%;
    }

    &__label--bold,
    &__value--bold {
        font-weight: 500;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;

        &-btn {
            min-width: 278px;
        }
    }
}

.cart-preview-item {
    text-align: left;

    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1px solid var(--header-act-dropdown-boder-color);
        border-radius: 10px;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin-top: 14px;
        font-size: 1.5rem;
        line-height: 142.857%;
    }

    &__price {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}

// User menu
.user-menu {
    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__avatar {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__name {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 1.8rem;
    }

    &__list {
        margin-top: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 10px 0;

        &:hover {
            font-weight: 500;
        }
    }

    &__icon {
        width: 20px;
    }

    &__separate {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid var(--separate-color);
    }
}
