@use "../abstracts";

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
            background: rgba($color: #ed4337, $alpha: 0.1);
        }

        .form__error,
        .form__input-error-icon {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__error {
        display: none;
        text-align: left;
        color: #ed4337;
        margin-top: 10px;
    }

    .form__input-error-icon {
        display: none;
        margin-left: 12px;
        width: 22px;
        height: 20px;

        animation: shake 0.75s;
    }

    &__text-input {
        padding: 0 12px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1.5px solid #d2d1d6;

        @include abstracts.screen(md) {
            height: 48px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon {
            margin-left: 12px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &-label {
            margin-left: 29px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: solid 1.5px #9e9da8;
        }

        &::after {
            left: 3px;
            top: 6px;
            width: 13px;
            height: 7px;
            border: 2.5px solid;
            border-color: transparent transparent var(--form-checkbox-after) var(--form-checkbox-after);
            rotate: -45deg;
        }

        &:has(:checked) {
            &::before {
                border-color: #ffb700;
                background: #ffb700;
            }

            &::after {
                border-color: transparent transparent #fff #fff;
            }
        }
    }
}
