@use "../abstracts";

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
            background: rgba($color: #ed4337, $alpha: 0.1);
        }

        .form__error,
        .form__input-error-icon {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__error {
        display: none;
        text-align: left;
        color: #ed4337;
        margin-top: 10px;
    }

    .form__input-error-icon {
        display: none;
        margin-left: 12px;
        width: 22px;
        height: 20px;

        animation: shake 0.75s;
    }

    &__text-input {
        padding: 0 12px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1.5px solid #d2d1d6;

        @include abstracts.screen(md) {
            height: 48px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon {
            margin-left: 12px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &-label {
            margin-left: 29px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: solid 1.5px #9e9da8;
        }

        &::after {
            left: 3px;
            top: 6px;
            width: 13px;
            height: 7px;
            border: 2.5px solid;
            border-color: transparent transparent var(--form-checkbox-after) var(--form-checkbox-after);
            rotate: -45deg;
        }

        &:has(:checked) {
            &::before {
                border-color: #ffb700;
                background: #ffb700;
            }

            &::after {
                border-color: transparent transparent #fff #fff;
            }
        }
    }

    &__label {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--small {
            display: inline-block;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
    }

    &__select-wrap {
        border-radius: 6px;
        border: 1px solid #d2d1d6;

        height: 45px;
        display: flex;
        align-items: center;
    }

    &__select {
        padding: 0 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-width: var(--width, 108px);
        height: calc(100% - 10px);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        margin-top: 20px;

        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include abstracts.screen(xl) {
            gap: 10px;
        }
    }

    &__tag {
        color: #9e9da8;
        padding: 6px 12px;
        border-radius: 6px;
        background: var(--form-tag-bg);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        transition: color 0.25s;

        &:hover {
            color: var(--text-color);
        }
    }
}
