@use "../abstracts";

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__row {
        display: flex;
        gap: 30px;

        > * {
            flex: 1;
        }

        @include abstracts.screen(md) {
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 0;
        }
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
            background: rgba($color: #ed4337, $alpha: 0.1);
        }

        .form__error,
        .form__input-error-icon {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__error {
        display: none;
        text-align: left;
        color: #e32012;
        margin-top: 10px;
    }

    &__input-error-icon {
        display: none;
        margin-left: 12px;
        width: 22px;
        height: 20px;

        animation: shake 0.75s;
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        &--small {
            border-radius: 8px;
        }
    }

    &__text-area {
        height: 120px;
        padding: 12px;

        &-input {
            resize: none;
            width: 100%;
        }
    }

    &__text-input {
        position: relative;
        height: 50px;

        &--small {
            height: 44px;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__text-area-input,
    &__input {
        flex: 1;
        height: 100%;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            width: 100%;
        }
    }

    &__text-area,
    &__input {
        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        position: relative;
        &-icon {
            margin-left: 12px;
        }
    }

    &__dialog-heading {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        padding: 10px 18px;
    }

    &__select-dialog {
        z-index: 1;

        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 50px;
        left: 0;
        background: var(--form-select-dialog-bg);
        padding: 10px;
        border: 1px solid #d2d1d6;
        border-radius: 10px;
        max-height: 350px;
        min-width: 250px;

        opacity: 0;
        visibility: hidden;
        transition: opacity visibility;
        transition-duration: 0.25s;
        box-shadow: 0 0 5px var(--form-select-dialog-shadow);

        &.show {
            opacity: 1;
            visibility: visible;
        }

        @include abstracts.screen(md) {
            max-height: 300px;
        }

        @include abstracts.screen(sm) {
            position: fixed;
            max-width: initial;
            max-height: initial;
            inset: 0;
            border-radius: 0;
        }
    }

    &__search {
        height: 38px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d2d1d6;
        padding: 0 20px;
        flex-shrink: 0;

        @include abstracts.screen(lg) {
            height: 42px;
        }

        @include abstracts.screen(sm) {
            margin-top: 30px;
            border: 1px solid #d2d1d6;
            margin: 20px 8px 0;
            border-radius: 10px;
        }

        &-input {
            flex: 1;
            height: 100%;
            font-size: 1.8rem;
        }

        &-icon {
            width: 20px;
            margin-left: 10px;
            margin-left: 10px;
        }
    }

    &__close-dialog {
        font-size: 3rem;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 20px;
    }

    &__options-list {
        margin-top: 16px;
        flex: 1;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    &__option {
        padding: 8px 20px;
        font-size: 1.4rem;
        cursor: pointer;

        @include abstracts.screen(lg) {
            padding: 14px 30px;
            font-size: 1.6rem;
        }

        &:not(&--current):hover {
            background: var(--form-option-hover-bg);
            font-weight: 500;
        }

        &--current {
            background: rgb(255, 183, 0, 0.6);
            font-weight: 500;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &-label {
            margin-left: 29px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: solid 1px #9e9da8;
        }

        &::after {
            left: 3px;
            top: 6px;
            width: 13px;
            height: 7px;
            border: 2.5px solid;
            border-color: transparent transparent var(--form-checkbox-after) var(--form-checkbox-after);
            rotate: -45deg;
        }

        &:has(:checked) {
            &::before {
                border-color: #ffb700;
                background: #ffb700;
            }

            &::after {
                border-color: transparent transparent #fff #fff;
            }
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--medium {
            margin-bottom: 20px;
            font-size: 1.8rem;
        }

        &--small {
            display: inline-block;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
    }

    &__select-wrap {
        border-radius: 6px;
        border: 1px solid #d2d1d6;

        height: 45px;
        display: flex;
        align-items: center;
    }

    &__select {
        padding: 0 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-width: var(--width, 108px);
        height: calc(100% - 10px);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        margin-top: 20px;

        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include abstracts.screen(xl) {
            gap: 10px;
        }
    }

    &__tag {
        color: #9e9da8;
        padding: 6px 12px;
        border-radius: 6px;
        background: var(--form-tag-bg);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        transition: color 0.25s;

        &:hover {
            color: var(--text-color);
        }
    }
}
