@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7495%) hue-rotate(143deg)
        brightness(111%) contrast(100%);
    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    // Header
    --header-act-dropdown-bg: #3d414b;
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-viewall: #0071dc;

    --header-act-dropdown-boder-color: #171c28;

    // Dropdown
    --dropdown-bg-color: #3d414b;
    --dropdown-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(22%) sepia(21%) saturate(374%) hue-rotate(185deg)
        brightness(94%) contrast(86%);
    --top-menu__main-boder-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(68%) saturate(743%) hue-rotate(207deg)
        brightness(107%) contrast(96%);

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Sidebar
    --sidebar--bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;
    --cate-item-desc-color: #fff;

    // Filter button
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    // Product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // Like button
    --like-btn-bg: #292e39;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Filter form
    --filter-form-bg: #3d414b;
    --filter-form-shadow: 0px 40px 90px rgba(0, 0, 0, 0.4);
    --form-tag-bg: #171c28;
    --filter-form-arrow: var(--dropdown-arrow-color);

    // Sign up
    --auth-content-bg: #292e39;
    --auth-intro-bg: #171c28;
    --auth-intro-text-color: #b9babe;
    --auth-heading-color: #b9babe;

    @include abstracts.screen(md) {
        --auth-intro-bg: #171c28;
    }

    // Form
    --form-placeholder-color: #b9babe;
    --form-checkbox-after: #3d414b;
    --form-select-dialog-shadow: rgba($color: #fff, $alpha: 0.2);
    --form-select-dialog-bg: #3d414b;
    --form-option-hover-bg: #292e39;

    // Product Detail
    --product-detail-bg: #292e39;
    --product-detail-info-bg: #171c28;
    --product-detail-info-content-bg: transparent;
    --product-detail-tag-bg: #292e39;

    @include abstracts.screen(md) {
        --product-detail-bg: #292e39;
        --product-detail-info-content-bg: #171c28;
        --product-detail-info-bg: #171c28;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
    @include abstracts.screen(md) {
        --breadcrumbs-bg: #171c28;
    }

    // Search bar
    --search-bar-bg: #171c28;
    --search-bar-input-color: #9e9da8;

    // Review card
    --review-card-bg: #171c28;

    // Text content
    --text-content-hr-bg: #50555f;

    // Check out
    --checkout-breadcrumbs-bg: #171c28;
    --checkout-cart-info-bg: #171c28;
    --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
    --checkout-border-color: #292e39;
    --checkout-price-wrap-color: #9e9da8;
    --checkout-payment-item-bg: #292e39;

    // Dialog
    --dialog-bg: #3d414b;
    --dialog-shadow: rgba(0, 0, 0, 0.4);
}
