@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(33%) saturate(996%) hue-rotate(210deg) brightness(91%)
        contrast(98%);
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    // Header
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-viewall: #0071dc;

    --header-act-dropdown-boder-color: #d2d1d6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    --top-menu__main-boder-color: #d2d1d6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Sidebar
    --sidebar--bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;
    --cate-item-desc-color: #1a162e;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Filter button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Like button
    --like-btn-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: 0px 40px 90px rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;
    --filter-form-footer-bg: #fff;
    --form-checkbox-after: #fff;

    // Sign up
    --auth-content-bg: #fff;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Form
    --form-placeholder-color: #d2d1d6;
    --form-checkbox-after-color: #fff;

    // Product Detail
    --product-detail-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-detail-info-content-bg: #fff;
    --product-detail-tag-bg: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
        --product-detail-info-bg: #fff;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Search bar
    --search-bar-bg: #fff;
    --search-bar-input-color: #9e9da8;

    // Review card
    --review-card-bg: #fafafd;
    @include abstracts.screen(md) {
        --review-card-bg: #fff;
    }

    // Text content
    --text-content-hr-bg: #ebebeb;

    // Check out
    --checkout-breadcrumbs-bg: #fff;
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-border-color: #d2d1d6;
    --checkout-price-wrap-color: #9e9da8;
}
