@use "../abstracts";

*,
::after,
::before {
    box-sizing: border-box;
}

a,
button,
select,
textarea,
input,
img {
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

input {
    background: transparent;
}

button {
    padding: 0;
    background: transparent;
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--body-bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
