<div class="footer__inner">
    <div class="footer__row">
        <section class="footer__list">
            <h3 class="footer__heading">About Us</h3>
            <div class="footer__item">
                <a href="#!" class="footer__item-link">Our Story</a>
                <a href="#!" class="footer__item-link">Affiliate Program</a>
                <a href="#!" class="footer__item-link">Whole Sale Program</a>
                <a href="#!" class="footer__item-link">Carrers</a>
                <a href="#!" class="footer__item-link">Press Enquires</a>
            </div>
        </section>
        <section class="footer__list">
            <h3 class="footer__heading">Support</h3>
            <div class="footer__item">
                <a href="#!" class="footer__item-link">Return & Exchanges</a>
                <a href="#!" class="footer__item-link">Shipping Information</a>
                <a href="#!" class="footer__item-link">Track Your Order</a>
                <a href="#!" class="footer__item-link">Promo Code Lookup</a>
                <a href="#!" class="footer__item-link">Gift & Cart Lookup</a>
            </div>
        </section>
        <section class="footer__list">
            <h3 class="footer__heading">Custommer</h3>
            <div class="footer__item">
                <a href="#!" class="footer__item-link">Earn & Reward</a>
                <a href="#!" class="footer__item-link">Payment Plans</a>
                <a href="#!" class="footer__item-link">Retail Store Locator</a>
                <a href="#!" class="footer__item-link">Help Center</a>
                <a href="#!" class="footer__item-link">Conttact Us</a>
            </div>
        </section>
        <div class="footer__connect">
            <h2 class="footer__connect-heading">Connect With Us</h2>
            <div class="footer__connect-link">
                <a class="footer__connect-icon" href="#!"
                    ><i class="fab fa-facebook icon footer__connect-icon-link"></i
                ></a>
                <a class="footer__connect-icon" href="#!"
                    ><i class="fab fa-youtube icon footer__connect-icon-link"></i
                ></a>
                <a class="footer__connect-icon" href="#!"
                    ><i class="fab fa-instagram icon footer__connect-icon-link"></i
                ></a>
                <a class="footer__connect-icon" href="#!"
                    ><i class="fab fa-tiktok icon footer__connect-icon-link"></i
                ></a>
                <a class="footer__connect-icon" href="#!"
                    ><i class="fab fa-pinterest icon footer__connect-icon-link"></i
                ></a>
            </div>
            <p class="footer__connect-desc">
                Want 20$ Off ? Sign up for out Website. Sign up for SMS alerts and be the first to know !
            </p>

            <div class="footer__cta">
                <button class="btn btn--primary footer__ecta-btn">Get in the loop</button>
            </div>
        </div>
    </div>

    <div class="footer__end">
        <a href="./" class="logo footer__logo">
            <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />

            <h1 class="logo__title">grocerymart</h1>
        </a>
        <div class="footer__end-group">
            <a href="#!"><span class="footer__end-desc footer__end-desc--sepa">Privacy Policy</span></a>
            <a href="#!"><span class="footer__end-desc footer__end-desc--sepa">Term & Conditions</span></a>
            <a href="#!"><span class="footer__end-desc">Accessibility Statement</span></a>
        </div>
    </div>

    <p class="footer__copyright">© 2018 - 2025 F8. Nền tảng học lập trình hàng đầu Việt Nam</p>
</div>
